<div class="modal fade" id="dateModal" tabindex="-1" aria-labelledby="dateModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="dateModalLabel">Wybierz daty i waluty</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="mb-3">
            <label for="startDate" class="form-label">Data początkowa</label>
            <input type="date" id="startDate" class="form-control" [(ngModel)]="fetchCurrencies.startDate" />
          </div>
          <div class="mb-3">
            <label for="endDate" class="form-label">Data końcowa</label>
            <input type="date" id="endDate" class="form-control" [(ngModel)]="fetchCurrencies.endDate" />
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Zamknij</button>
          <button type="button" class="btn btn-primary" (click)="loadData()">Załaduj</button>
        </div>

      </div>
    </div>
  </div>
  